<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestIO Admin Panel</title>
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h2>Welcome to TestIO Admin Panel</h2>
    <h1>Let's Manage the Educational Process!</h1>
    <p>Click on a tile below to get more info on an instructor.</p>

    <div class="actions">
        <a href="#">Instructors</a>
        <a href="#">Students</a>
    </div>

    <div class="instructors">
        <div class="avatar">
            <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_star.png">
        </div>

        <div class="avatar">
            <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_star.png">
        </div>
    </div>
</body>
</html>