<!DOCTYPE html>
<html>
<head>
  <title>TestIO Instructor</title>
  <link href="https://fonts.googleapis.com/css?family=Lato: 100,300,400,700|Luckiest+Guy|Oxygen:300,400" rel="stylesheet">
  <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body>

  <ul class="navigation">
    <li class="active">Tests</li>
    <li>Profile</li>
    <li>Settings</li>
  </ul>

  <h2>Welcome to TestIO, instructor</h2>
  <div class="search">Search the tests</div>
  
 <table>
    <thead id="headings">
      <tr>

          <th id = "TestName">Test Name</th>
          <th id = "Deadline">Deadline</th>
          <th id = "Grade">Group</th>

      </tr>


    </thead>
    <tbody id = "allTests">
       <tr>
        <td>JAVA Programming</td>
        <td>10.12</td>
        <td>KI-1, KI-2, KI-3</td>
      </tr>
    </tbody>
</table>


</body>
</html>