<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestIO</title>
    <link rel="stylesheet" href="style.css">
    <script src="main.js" async></script>
</head>
<body>
    <p align="center">Welcome to TestIO</p>
    <div class="img_container">
        <img src="img_avatar.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label><br>Username</br></label>
        <input id="username" type="text" placeholder="Enter Username" name="uname" required>

        <label><br>Password</br></label>
        <input id="password" type="password" placeholder="Enter Password" name="psw" required>
        <p></p>
        <button type="submit" onclick="getCredentials();">Login</button>
    </div>
</body>
</html>